body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 10px;
}

main form {
    margin-bottom: 10px;
}

main form input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

main form button {
    background-color: #bdedbf;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}